<!-- Recursive traverses the menu tree structure -->
<ng-template #recursiveMenu let-categories>
  <div *ngFor="let category of categories">
    {{category.id}}
    <a *ngIf="category.subcategories.length === 0" routerLink="/categories/{{category.id}}">{{category.name}}</a>
    <div *ngIf="category.subcategories.length > 0">
      <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: category.subcategories }"></ng-container>
    </div>
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: categories | async }"></ng-container>
